html {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
:root{
     font-size: 16px;
     color:hsl(256, 26%, 20%);
     color: hsl(216, 30%, 68%);
     font-family: 'DM Serif Display', serif;
}

/* Navbar */
.nav-menu {
  flex: 1;
}

.nav-menu, li{
list-style-type:none; 
display:flex;
justify-content: flex-end;
position:relative;
top:-50px;
}


.nav-item{
    top:10px;
    margin-right: 2rem;
}

.nav-link{
    text-decoration:none;
}

.pricing{
    text-decoration: none;
}

.pricing-btn{
    background-color: white;
    border-color:black ;
}

/* footer */

.attribution {
     font-size: 11px;
      text-align: center;
     }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
