/* hr{
    width:15%;
    height:25%;
    top:10px;
    left:-35px;
    position:relative;
    margin:45px;
    
} */
/* .main-container{
    position: relative;
} */

html{
    cursor: pointer;
}

.nav-menu, li{
list-style-type:none; 
display:flex;
justify-content: flex-end;

position:relative;
top: -65px;
left: -10px;
right: -500px;
padding: 1rem 0;
margin: 0 auto;
 
}
li{
    color:blueviolet;
    font-family: Roboto;
    font-weight: 900;
}
p{
    font-family: 'Roboto';
    font-weight: 400;
    color:green;
}


.nav-item{
    top:10px;
    margin-right: 2rem;
}

.nav-link{
    text-decoration:none;
}



/* footer */

.attribution {
     font-size: 11px;
      text-align: center;
     }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
