html {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
:root{
     font-size: 16px; 
     /* color:hsl(256, 26%, 20%);
     color: hsl(216, 30%, 68%); */
     font-family: 'DM Serif Display', serif;
}

/* Navbar */
.nav-menu {
  flex: 1;
}

.nav-menu, li{
list-style-type:none; 
display:flex;
justify-content: flex-end;
position:relative;
top:-50px;
}


.nav-item{
    top:10px;
    margin-right: 2rem;
}

.nav-link, .plans {
    text-decoration:none;
    color:hsl(256, 26%, 20%);
    font-size: 16px;
}
.plans{
    color:black;
}
.pricing{
    text-decoration: none;
    color:hsl(256, 26%, 20%);
    font-size: 16px;
}

.pricing-btn {
    background-color: white;
    border-color:hsl(256, 26%, 20%);
    font-size: 16px;
    padding:3px;
    margin:0 auto;
    padding-bottom: 5%;
}
.plans-pg{
    background-color: white;
    color:white;
    /* border-radius:6px; */
    border-color:white;
    position:relative;
    top:10px;
    left:-10px; 
}

.row{
    display:flex;
    margin:10px;
}

.col{
    flex:50%;
}

.main-container{
    margin:0px;
    padding:20px;
}

.main-text{
    padding:20px;
    margin:60px;
}
.welcome-container{
    background-color:hsl(270, 9%, 17%);
    width:100%;
    height:50%;
    margin:0 auto;
    font-family:'DM Serif Display', serif;
}

.family-pic{
    position: relative;
    top: 85px;
    height: 600px;
}

.company-info-container{
    margin:35px;
}
.company-info{
    color:white;
        position: relative;
    top: -10px;
    left: -10px;
}
.container-divider{
width: 25%;
position: relative;
top: -20px;
left: -200px;
}
/* footer */

.attribution {
     font-size: 11px;
      text-align: center;
     }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
